.grey{
    background-color: dimgrey;
}
.white{
    background-color: white;
    background-image: url(../images/todobg.jpg);
    background-size: cover;
    background-position: top left;
    height: 100vh;
}